<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title> {% block title %} {% endblock title %}- MyToDo</title>
    <style>
      li :hover {
            color: rgb(243, 7, 70) !important;
        }
      body{
        background-color: black;
        color: white;
      }
      button :hover {
            color: rgb(243, 7, 70) !important;
        }
      span {
            color: crimson;

        }
      
    </style> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">PORT<span>FOLIO</span></a> -->
          <a class="navbar-brand" href="/" style="color: white;">My<span>ToDo</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">About</a>
              </li>
            </ul>
          
          </div>
        </div>
      </nav>
      
    {% block body %}
        
    {% endblock body %}
</body>
</html> 